extends layout

block content
  h1 Livets Maraton
  p.lead Det viktigaste i livet...
  hr
  .row
    a(class="btn btn-primary" type="submit" href="/registermatch") Registera match
    a(class="btn btn-primary" type="submit" href="/stats") Se statistik
    a(class="btn btn-info" type="submit" href="/registergame") Administrera spel
    a(class="btn btn-info" type="submit" href="/admingame") Administrera matcher
