extends layout

block content
  h1 Registrera spel
  hr

  form(method='POST' action='/registergame')
    input(type='hidden' name='_csrf', value=_csrf)
    div.form-group
      label(for='name') Spelnamn:
      input#name.form-control(type="text", name="name", placeholder="Spelnamn")

    div.form-group
      label(for='name') Lagbaserat:
      input(type="checkbox", name="teamBased")

    div.form-group
      label(for='name') Inverterad räkning:
      input(type="checkbox", name="reverseCounting")

    button.btn.btn-success(type='submit') Registrera
