<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-wind"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Padeltrappan</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Översikt</span></a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/booking">
        <i class="fas fa-calendar-alt"></i>
        <span>Bokningar</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registermatch">
        <i class="fas fa-pen"></i>
        <span>Registrera resultat</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/settings">
        <i class="fas fa-cogs"></i>
        <span>Inställningar</span></a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="fas fa-envelope"></i>
        <span>Meddelanden</span></a>
    </li> -->
    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
      Bokningar
    </div> -->

    
  </ul>
  <!-- End of Sidebar -->