

<%- include('header') %>
<%- include('modals') %>

<!-- Content Wrapper -->
<div class="container">

<style>
    .col-xl-6 {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    .fas.fa-star {
      color: gold;
    }
  </style>

  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-12">
      <style>
        /* Set the size of the div element that contains the map */
        #map {
          height: 450px;
          /* The height is 400 pixels */
          width: 100%;
          /* The width is the width of the web page */
        }
      </style>
      <!--The div element for the map -->
      <div id="map" style="border-radius: 5px; margin-bottom: 5px;"></div>

    </div>
  </div>

  <div class="row">
    <!-- Recensioner -->
    <div class="col-xl-6" style="padding-right: 0.25rem;">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Recensioner</h6>
        </div>
        <div class="card-body">
          <div class="review">
            Launchvänligt
            </span><span style="float: right;" id="launchFriendly-stars"></span></span>
            <hr>
            <div class="review">
              Långgrunt
              <span style="float: right;" id="shallow-stars"></span>
            </div>
            <hr>
            <div class="review">
              Vågor
              <span style="float: right;" id="waves-stars"></span>
            </div>
            <hr>
            <div class="review">
              Tillgänglighet
              <span style="float: right;" id="accesibility-stars"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6" style="padding-left: 0.25rem;">

      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Vindriktningar</h6>
        </div>
        <div class="card-body" style="display: flex; font-size: 1.5rem; text-align: center; justify-content: center;">
          <div class="arrow-container" style="max-width: 50%">
            <div class="n-arrow">
              <i id="n-arrow" class="fas fa-arrow-alt-circle-down"></i>
            </div>
            <div class="nw-ne-arrow">
              <i id="ne-arrow" class="fas fa-arrow-alt-circle-right"
                style="transform: rotate(45deg);margin-right: 40px;"></i>
              <i id="nw-arrow" class="fas fa-arrow-alt-circle-left" style="transform: rotate(-45deg);"></i>
            </div>
            <div class="w-e-arrow">
              <i id="w-arrow" class="fas fa-arrow-alt-circle-right" style="margin-right: 80px;"></i>
              <i id="e-arrow" class="fas fa-arrow-alt-circle-left"></i>
            </div>
            <div class="sw-se-arrow">
              <i id="sw-arrow" class="fas fa-arrow-alt-circle-right"
                style="transform: rotate(-45deg);margin-right: 40px;"></i>
              <i id="se-arrow" class="fas fa-arrow-alt-circle-left" style="transform: rotate(45deg);"></i>
            </div>
            <div class="n-arrow">
              <i id="s-arrow" class="fas fa-arrow-alt-circle-up"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->
<script>

  let map;
  let addMarkerMap;
  let markersArray = [];

  const sweden = { lat: 58.319322, lng: 14.285850 };

  function initMap() {
    const mapOptions = {
      zoom: 6,
      center: sweden
    };
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    addMarkerMap = new google.maps.Map(document.getElementById("add-marker-map"), mapOptions);
    addMarkerMap.addListener('click', function (e) {
      console.log(e);
      placeMarker(e.latLng);
    });
    const centerControlDiv = document.createElement("div");
    CenterControl(centerControlDiv, map);
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
    JSON.parse('<%-JSON.stringify(spots)%>').forEach(spot => createMarkers(map, spot));
  }

  // För modalens "lägga till" funktion
  var marker;
  function placeMarker(location) {
    if (marker) {
      marker.setPosition(location);
      document.querySelector('input[name="coordinatesLat"]').value = marker.getPosition().lat();
      document.querySelector('input[name="coordinatesLng"]').value = marker.getPosition().lng();
    } else {
      marker = new google.maps.Marker({
        position: location,
        map: addMarkerMap
      });
    }
  }

  function createMarkers(map, spot) {
    const marker = new google.maps.Marker({
      position: { lat: parseFloat(spot.lat), lng: parseFloat(spot.lng) },
      map: map,
      metadata: { id: spot._id },
      label: spot.name.substring(0, 2)

    });
    marker.addListener('click', function () {
      map.setZoom(14);
      map.setCenter(marker.getPosition());
    });

    const infowindow = new google.maps.InfoWindow({
      content: `<strong>${spot.name}</strong>`
    });
    google.maps.event.addListener(marker, "mouseover", () => {
      infowindow.open(map, marker);
    });

    google.maps.event.addListener(marker, 'mouseout', () => {
      infowindow.close(map, marker);
    });
    google.maps.event.addListener(marker, 'click', () => {
      setStars(spot);
      setWinddirections();
    });
  }

  function setWinddirections(spot) {
    var directions = ['N', 'NE', 'NW', 'W', 'E', 'SW', 'SE', 'S'];
    
  }

  function setStars(spot) {
    var star = '<i class="fas fa-star"></i>';
    var nonStar = '<i class="far fa-star"></i>';
    Object.keys(spot.reviews).forEach(reviewType => {
      let stars = '';
      if (spot.reviews[reviewType]) {
        //10 stjärnor
        for (let i = 0; i < 10; i++) {
          if (spot.reviews[reviewType] > i) {
            stars = stars + star;
          }
          else {
            stars = stars + nonStar;
          }
        }
        document.querySelector(`#${reviewType}-stars`).innerHTML = `(${spot.reviews[reviewType]}/10) ${stars}`;
      } else {
        document.querySelector(`#${reviewType}-stars`).innerHTML = "";
      }
    })
  }

  function CenterControl(controlDiv, map) {
    // Set CSS for the control border.
    // const controlUI = document.createElement("div");
    // controlUI.style.backgroundColor = "#fff";
    // controlUI.style.border = "2px solid #fff";
    // controlUI.style.borderRadius = "3px";
    // controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
    // controlUI.style.cursor = "pointer";
    // controlUI.style.marginBottom = "22px";
    // controlUI.style.textAlign = "center";
    // controlUI.title = "Click to recenter the map";
    // controlDiv.appendChild(controlUI);
    // // Set CSS for the control interior.
    // const controlText = document.createElement("div");
    // controlText.style.color = "rgb(25,25,25)";
    // controlText.style.fontFamily = "Roboto,Arial,sans-serif";
    // controlText.style.fontSize = "16px";
    // controlText.style.lineHeight = "38px";
    // controlText.style.paddingLeft = "5px";
    // controlText.style.paddingRight = "5px";
    // controlText.innerHTML = '<i class="fas fa-crosshairs"></i> Översikt';
    // controlUI.appendChild(controlText);

    // map.controls[google.maps.ControlPosition.TOP_LEFT].push(controlDiv);

    var controlDiv = document.createElement('div');

  //### Add a button on Google Maps ...
    var controlNewSpotUI = document.createElement('div');
    controlNewSpotUI.style.cursor = 'pointer';
    controlNewSpotUI.style.backgroundColor = '#fff';
    controlNewSpotUI.style.height = '28px';
    controlNewSpotUI.style.width = '90px';
    controlNewSpotUI.style.margin = '5px';
    controlNewSpotUI.style.border = '1px solid black';
    controlNewSpotUI.style.borderRadius = '5px';
    controlNewSpotUI.title = 'Click to set the map to Home';
    controlDiv.appendChild(controlNewSpotUI);


  //### Add a button on Google Maps ...
    var controlOverviewUI = document.createElement('div');
    controlOverviewUI.style.cursor = 'pointer';
    controlOverviewUI.style.backgroundColor = '#fff';
    controlOverviewUI.style.height = '28px';
    controlOverviewUI.style.width = '90px';
    controlOverviewUI.style.margin = '5px';
    controlOverviewUI.style.border = '1px solid black';
    controlOverviewUI.style.borderRadius = '5px';
    controlOverviewUI.title = 'Click to set the map to Home';
    // controlOverviewUI.style.direction = ltr;
      // controlOverviewUI.style.overflow = hidden;
      // controlOverviewUI.style.textAlign = center;
      // controlOverviewUI.style.height = 40px;
      // controlOverviewUI.style.display = table-cell;
      // controlOverviewUI.style.verticalAlign = middle;
      // controlOverviewUI.style.position = relative;
      // controlOverviewUI.style.color = rgb(0, 0, 0);
      // controlOverviewUI.style.fontFamily = Roboto, Arial, sans-serif;
      // controlOverviewUI.style.userSelect = none;
      // controlOverviewUI.style.fontSize = 18px;
      // controlOverviewUI.style.background-color = rgb(255, 255, 255);
      // controlOverviewUI.style.padding = 0px 17px;
      // controlOverviewUI.style.borderBottom-left-radius = 2px;
      // controlOverviewUI.style.border-top-left-radius = 2px;
      // controlOverviewUI.style.background-clip = padding-box;
      // controlOverviewUI.style.box-shadow = rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
      // controlOverviewUI.style.min-width = 44px;
      // controlOverviewUI.style.font-weight = 500;



    // Set CSS for the control interior.
    const controlText = document.createElement("div");
    controlText.style.color = "rgb(25,25,25)";
    controlText.style.fontFamily = "Roboto,Arial,sans-serif";
    controlText.style.fontSize = "16px";
    controlText.style.lineHeight = "5px";
    controlText.style.padding = "5px";
    controlText.style.paddingRight = "5px";
    controlText.innerHTML = '<i class="fas fa-thumbtack"></i> Ny spot';
    controlNewSpotUI.appendChild(controlText);

    const control2Text = document.createElement("div");
    control2Text.style.color = "rgb(25,25,25)";
    control2Text.style.fontFamily = "Roboto,Arial,sans-serif";
    control2Text.style.fontSize = "16px";
    control2Text.style.lineHeight = "5px";
    control2Text.style.padding = "5px";
    control2Text.style.paddingRight = "5px";
    control2Text.innerHTML = '<i class="fas fa-crosshairs"></i> Översikt';
    controlOverviewUI.appendChild(control2Text);

    controlOverviewUI.title = 'Click to set the map to Home';
    controlDiv.appendChild(controlOverviewUI);

    controlOverviewUI.addEventListener("click", () => {
      map.setCenter(sweden);
      map.setZoom(6);
    });  
    
    controlNewSpotUI.addEventListener("click", () => {
      $('#createSpot').modal('show');
    });

    map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(controlDiv);

  };

</script>

<script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALwtxzEXRqd-P7f8tLoHe7Fb4WDV3BCJA&callback=initMap"></script>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


<%- include('footer') %>
<!-- Page level plugins -->
</body>

</html>