extends layout

block content
  .filter-container
    each game in games
      button(type='button' class='btn btn-primary game-selector' data-id = game._id) #{game.icon} #{game.name}   
  .filter-container#player-selection(style="display:none")
    .player-button-container

  .row
    .col-md-8
      div#main-chart-container.chart-container
        canvas#line-chart

    .col-md-4
      .row
        div#bar-chart-container.chart-container
        div#grouped-bar-chart-container.chart-container
  

  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
  script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
  script(src="js/Charts/fetch_data_for_charts.js")
  script(src="js/Charts/create_chart.js")
  script(src="js/Charts/line_chart.js")
  script(src="js/Charts/bar_chart.js")
  script(src="js/Charts/grouped_bar_chart.js")
  script(src="js/Homemade/player_filter.js")